body{
    color: #222222;
}
.layout-fullwidth #wrapper #main-content{
    background: #f9f9f9;
}
.card{
    background: #f9f9f9;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.dashboard-cards .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 2;
    }
    @include media-breakpoint-only(xl) {
      column-count: 1;
    }
}
.block-header{
    background: #f9f9f9;
}
.list-group-item {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.filter-area h4{
    font-size: 20px;
}
.navbar-nav>li a{
    color: #000;
}
footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    background-color: #f9f9f9;
}
.footer-section li{
    list-style-type: none;
}
.footer-section li a{
    color: #222222;
}
div.connect ul li{
    float: left;
}
div.connect ul li i{
    color: #222222;
}
.footer-section .container-fluid{
    background-color: #f9f9f9;
}